body {
    margin: 0;
}

a ,p , h1, h2, h3, h4, h5, table, label, input {
    font-family: 'Lato', sans-serif;;
}

table {
    text-align: left;
}

#admin-body {
    height: 100vh;
}

.sidebar {
    background-color:#FFF0E5;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px
}

#sidebar li {  
    list-style: none;
    margin-bottom: 20px;

}

#sidebar li a {
    text-decoration: none;
    color: white;
}

#admin-function {
    background-color: white;

    padding: 20px;
    display:none;
}

#admin-display {
    background-color: white;
    min-height:100vh ;
    padding: 20px;
}

#menu-table, #product-table, #blog-table  {
    border: 0px solid grey;
    padding:10px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#menu-table th, #product-table th, #blog-table th {
    background-color: #05b5dc;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

#product-table td, th {
    padding: 8px;
}

#menu-table td, th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#newmenuid {
    background-color:grey;
}

ion-icon {
    cursor: pointer;
}

tr ion-icon {
    color: transparent;
}

tr:hover ion-icon {
    color: black;
}

tr:hover, tr:nth-child(even):hover {
    background-color: blanchedalmond;
}

.hidden {
    display: none !important;
}

.display {
    display:initial !important;
}

.small-input-option {
    width: 20% !important;
}

.data-item {
    margin-right: 10px;
    margin-top: 10px;

}    

#product-detail, #new-product-detail {
    width: 100%
}

.is-primary {
    background-color: #05b5dc !important;
    color: #fff !important;
}

.blog-body {
    padding: 30px;
}